<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApi1App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="topbar">
        <div class="container">
            <div class="brand">Профиль</div>
            <div class="muted">MVC container</div>
        </div>
    </header>

    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
